body {
  background-color: #393939;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 200px;
}

.categorias {
  text-decoration: none;
  color: rgb(231, 231, 231);
  margin: 0 10px;
  font-size: 18px;
  font-weight: 100;
}

.categorias:hover {
  color: #13ffd5;
}

.navbarContainer {
  color: rgb(231, 231, 231);
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbarCategorias {
  display: flex;
  margin-left: 60px;
}
.cartNavContainer h4 {
  margin-left: 20px;
}

.cartIcon {
  font-size: 30px;
  margin-left: 20px;
}
.searchIcon {
  margin-right: 5px;
  font-size: 25px;
  color: #13ffd5;
}

.cartNavContainer {
  display: flex;
  align-items: center;
}
